<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>删除</title>
<h2 style="background-color:#2a2828;color:white;font-size:31.5px;line-height:40px;margin:2px -8px">删除</h2>
<h3>你确定要删除以下内容？</h3>
<div>
    <h4>Now</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            下载文件名
        </dt>

        <dd id="downloadURL">
        </dd>

        <dt>
            标题
        </dt>

        <dd id="title">
        </dd>

        <dt>
            摘要
        </dt>

        <dd id="summary">
        </dd>

    </dl>
    <div class="form-actions no-color">
        <input type="submit" value="删除" class="btn btn-default" /> |
        @Html.ActionLink("返回", "Index")
        <hr />
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Home/GetNowById",
            data: "ID=" + @ViewBag.ID ,
            success: function (data) {
                if (data) {
                    FillNow(data);
                }
            }
        });

        $("input.btn").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/DeleteNow",
                data:"ID=" + @ViewBag.ID,
                success: function(data){
                    if(data){
                        alert("删除成功！");
                        window.location.href = "../";
                    }
                }
            });
        });
    });
    function FillNow(data) {
        $("#downloadURL").text(data.downloadURL);
        $("#title").text(data.title);
        $("#summary").append(data.summary);
    }
</script>
