<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>查看</title>
<h2 style="background-color:#2a2828;color:white;font-size:31.5px;line-height:40px;margin:2px -8px">查看</h2>
<div>
    <h4>BodyTem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           摘要
        </dt>

        <dd id="summary">
            
        </dd>

        <dt>
            详情
        </dt>

        <dd id="detail">

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = ViewBag.ID }) |
    @Html.ActionLink("返回", "Index")
    <hr />
</p>
<script>
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Home/GetBodyTemById",
            data: "ID=" + @ViewBag.ID ,
            success: function (data) {
                if (data) {
                    FillBodyTem(data);
                }
            }
        });
        function FillBodyTem(data) {
            $("#summary").text(data.summary);
            $("#detail").append(data.detail);
        }
    });
</script>
